{{! @glint-nocheck: not typesafe yet }}
<div class='{{this.styleNamespace}}'>
  <div id='tracked-task-details'>
    <PowerSelectMultiple
      @searchEnabled={{true}}
      @options={{this.chargeCodes}}
      @selected={{@trackedTask.chargeCodes}}
      @placeholder='Select chargecodes...'
      @onChange={{this.updateChargeCodes}} as |chargeCode|
    >
      {{chargeCode.name}}
    </PowerSelectMultiple>
    <Input
      aria-label='notes'
      @value={{this.notes}}
      placeholder='Notes...'
      {{on 'focusout' this.updateNotes}}
    />
  </div>
  <div id='time-container'>
    {{#each this.squaresWithTimeBlocks as |block|}}
      <div
        class='block {{if block.checked 'checked'}}'
        role='button'
        {{on 'click' (fn this.clicked block)}}
      >
      </div>
    {{/each}}
  </div>
</div>