<div class="overflow-y-auto {{this.styleNamespace}}-body bg-gray-800 text-teal-400 text-sm">
  <TrackedDay::Scale @day={{this.day}} />
</div>
<div
  class="tracked-base-totals overflow-y-auto bg-emerald-500 text-green-900 {{this.styleNamespace}}-totals">
  Totals
  {{#if this.day}}
    <TimeChargeTotals
      @year={{this.day.year}}
      @week={{this.day.week}}
    />
  {{/if}}
</div>