<div
  class='{{this.styleNamespace}}'
  {{did-resize this.onResize}}
  {{did-insert this.initialise}}
  {{will-destroy this.willDestroy}}
>
  {{dayjs-format @day.date 'YYYY-MM-DD ddd'}}

  <div id='tick-container' class=''>
    {{#each this.formattedTicks as |tick|}}
      <div class='tick-hour text-base odd:bg-gray-900'>
        {{tick}}
      </div>
    {{/each}}
  </div>
  <div id='time-container'>
    <TrackedTaskList @trackedDayId={{@day.id}} as |trackedTasks|>
      {{#each trackedTasks as |tt|}}
        <TrackedTask @ticks={{this.ticks}} @trackedTask={{tt}} />
      {{/each}}
    </TrackedTaskList>
  </div>
</div>