{{! @glint-nocheck: not typesafe yet }}
{{page-title 'JikanGaAruClient'}}
<div
  class='flex h-screen overflow-x-hidden {{this.routeStyleNamespaceClassSet}}'
>
  <div
    id='sidebar'
    class='flex-shrink-0
      w-48 {{if this.sideBarClosed '-ml-48'}}
     flex flex-col
      transition-all duration-300
      overflow-y-auto
      text-sm bg-blue-800 text-emerald-500'
  >
    <DayList />
  </div>
  <div class='flex-1 overflow-y-hidden2'>
    <div
      id='header'
      class='flex bg-blue-800 items-center text-amber-300 text-sm'
    >
      <div class='p4'>
        <button type='button' class='p-1 mr-4' onclick={{this.sideBarControl}}>
          <FaIcon @icon='burger' />
        </button>
        <LinkTo @route='tracker'>
          Tracker
        </LinkTo>
        |
        <LinkTo @route='chargecodes'>
          Charge Codes
        </LinkTo>
        <PowerSelect
          @selected={{this.prefs.startTimeNum}}
          @options={{this.startTimes}}
          @onChange={{this.setStartTime}} as |name|
        >
          {{name}}
        </PowerSelect>
      </div>
    </div>
    <div class='overflow-y-hidden'>
      {{outlet}}
    </div>
  </div>
</div>
{{!<div class="container mx-auto">}}
{{!  <div class="bg-blue-400">}}
{{!    hello}}
{{!  </div>}}

{{!  }}
{{!  |}}

{{!  <UserList />}}
{{!  <UserCreate />}}
{{!  <br>}}
{{!--  {{outlet}}--}}
{{!</div>}}